header{
  background:#15cbff;
  color:#ffffff;
  padding-top:10px;
  min-height:100px;
  border-bottom:#00c0ff 3px solid;
  border-top:##ffffff 3px solid;
}

header a{
  color:#ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float:left;
}

header #branding h1{
  margin:0;
}

header nav{
  float:right;
  margin-top:0px;
}

header .highlight, header .current a{
  color:#0042ff;
  font-weight:bold;
  font-family: -webkit-pictograph;
}

header a:hover{
  color:#cccccc;
  font-weight:bold;
}
footer{
  padding:10px;
  margin-top:20px;
  color:#ffffff;
  background-color:#15cbff;
  text-align: center;
  border-bottom:#00c0ff 3px solid;
  border-top:#00c0ff 3px solid;

}
.dark{
  padding:15px;
  background:#15cbff;
  color:#ffffff;
  margin-top:10px;
  margin-bottom:10px;
}
.containers{
  width:50%;
  margin:5px;
  overflow:hidden;
}
.containerr {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 75%; /* 4:3 Aspect Ratio */
}

.icon-alone {
  display: inline-block; /* Fix for clickability issue in WebKit */
}
.screen-reader-text { /* Reusable, toolbox kind of class */
  position: absolute;
  top: -9999px;
  left: -9999px;
}
.logo > img {
    float: left;
    width: 50px;
    height: auto;
    z-index: 100;
    transform: translateY(30%);
    }


img {
    width: 100%;
    height: auto;
}
* {
    margin: 0;
    padding: 0;
}
header nav {
    float: right;
    margin-top: 10px;
}

nav {
    display: block;
}
header {
    background: #15cbff;
    color: #ffffff;
    padding-top: 10px;
    min-height: 80px;
    border-bottom: #00c0ff 3px solid;
    border-top: #ffffff 3px solid;
}
body {
    color: white;
    font-family: arial;
    padding: 0;
    margin: 0;
    background-image: url(https://www.researchgate.net/profile/Fabien_Louvet/publication/281184909/figure/fig6/AS:614355771076610@1523485238707/Reste-de-la-supernova-SN-1006-qui-a-explose-en-1006-ap-JC-Credit-NASA.png);
    }

nav ul li a {
    display: block;
    font-family :-webkit-pictograph;
    color: #0042ff;
    font-size: 15px;
    text-decoration: none;
    border:none;
    border-radius: 3px;
    padding:  1px 25px;
    float: left;
    list-style: none;
    background: white;

}
    ;

ul {
    list-style-type: disc;
}    
li {
    text-align: -webkit-match-parent;
}

